@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yarl__color_backdrop: white;
  --yarl__color_button: #6b7280;
  --yarl__color_button_active: black;
  --yarl__color_button_disabled: #e5e7eb;
}

.yarl__button {
  filter: none;
}

.yarl__slide img {
  cursor: grab;
}

.yarl__slide img:active {
  cursor: grabbing;
}

.yarl__thumbnails_thumbnail {
  @apply border-gray-200;
  @apply rounded-lg;
}

.yarl__thumbnails_thumbnail_active {
  @apply border-gray-400;
}

.unboxBackground {
  background: linear-gradient(
      159.53deg,
      rgba(210, 193, 249, 0.2) -2.26%,
      rgba(255, 255, 255, 0) 56.06%
    ),
    linear-gradient(
      0.4deg,
      rgba(105, 48, 240, 0.1) -6.94%,
      rgba(248, 248, 248, 0) 69.85%
    );
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}
/* Removing the default appearance */
